<div class="landing">
  <div class="graph divsize">
    <img src="../../assets/age-de-raison.png">
  </div>
  <div class="button divsize">
    <button [routerLink]="['/Upload']">Get Started Now!</button>
  </div>
  <div class="text divsize">
    <img src="../../assets/content.png">
  </div>
</div>


