.landing{
  margin-top: 100px;
  margin-left: 100px;
}

.landing button{

  text-decoration: none;
  color: white;
  background-color: mediumseagreen;
  font-size: 1.2em;
  padding: 12px;
  font-family: Robot;
  font-weight: bold;
  cursor: pointer;
  margin-top: 100px;
  float: right;
}

.landing button:focus {
  outline: none;
}

.divsize {
  width: 30%;
}

.text {
  float: right;
  margin-right: 15%;
  margin-top: 50px;
}

.button {
  float: right;
  margin-right: 34%;
}

.graph {
  float: left;
}
