<div class="navbar">
  <a *ngIf="info.token; else elseBlock" class="home" (click)="logout()">Logout</a>

  <ng-template class="login" #elseBlock>
    <div class="template">
      <img src="../../assets/group.png" (click)="login()">
    </div>
  </ng-template>

  <a class="about" [routerLink]="['/About']" routerLinkActive="routerActive">About</a>
  <a class="graph" [routerLink]="['/Upload']" routerLinkActive="routerActive">Create Graph</a>
  <a class="home" [routerLink]="['/Landing']" routerLinkActive="routerActive">Home</a>
</div>


