.navbar{
  height: 50px;
  margin-top: -20px;
  cursor: pointer;
}

.template{
  float: right;
  display: block;
  margin-top: -10px;

}

.navbar a{
  float: right;
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-size: 17px;
  text-align: center;
  font-family: Robot;
}

.navbar > a:hover{
  border-bottom: mediumseagreen 5px solid;
}

/*.navbar a:focus-within{*/
  /*border-bottom: mediumseagreen 5px solid;*/
/*}*/

.about{
  margin-right: 25px;
}
 .routerActive {
   border-bottom: mediumseagreen 5px solid;
 }
