//div {
//  #chart {
//    height: inherit;
//    width: inherit;
//
//    .bar {
//      fill: steelblue;
//    }
//
//    .bar:hover {
//      fill: brown;
//    }
//
//    .axis--x path {
//      display: none;
//    }
//  }
//}
