.form {
  margin-left:35%;
  margin-top: 50px;
}

.form mat-form-field {
  margin-left: 50px;
}

.bar {
  fill: mediumseagreen;
}

.bar:hover {
  fill: darkgreen;
}

.axis--x path {
  display: none;
}

#chart {
  height: inherit;
  width: inherit;
}

.buttonContainer {
  margin-top: 23px;
  margin-right: 450px;
  float: right;
  cursor: pointer;
}

.rotate {
  text-decoration: none;
  color: black;
  text-align: center;
  font-family: Robot;
  padding: 10px;
}

.rotate:hover, rotate:active{
  border-radius: 8px;
  background-color: mediumseagreen;
}

.rotate:focus{
  border-radius: 8px;
  background-color: mediumseagreen;
}

.formGroup {
  float: right;
  margin-right: 10%;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form {
  display: block;
}
