<div class="form">
  <mat-form-field [formGroup]="graphDimensions" *ngIf="stringDimensions != null">
    <mat-label>Select Category</mat-label>
    <mat-select (selectionChange)="assignCategory()" formControlName="category">
      <mat-option *ngFor="let categories of stringDimensions" [value]="categories">{{categories}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field [formGroup]="graphDimensions" *ngIf="numberDimensions != null">
    <mat-label>Select Value</mat-label>
    <mat-select (selectionChange)="assignValue()" formControlName="number">
      <mat-option *ngFor="let value of numberDimensions" [value]="value">{{value}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="stringDimensions != null" class="buttonContainer"><a class="rotate" type="button" (click)="graphRotate()">Rotate</a></div>
</div>

<!--<select>-->
<!--  <option *ngFor="let categories of stringDimensions" [value]="categories" >{{categories}}</option>-->
<!--</select>-->
<!--<select (change)="assignValue(value)">-->
<!--  <option *ngFor="let value of numberDimensions" [value]="value" >{{value}}</option>-->
<!--</select>-->


<div #chart id=”chart” (window:resize)=onResize()></div>
<div id="tether"></div>



