<div *ngIf="isLoggedIn; else loggedOut">
  Logged in as {{roles}}.
</div>

<ng-template #loggedOut>
  <div class="row col-sm-6 login-main" style="max-width:379px;">
    <h1 class="login-header">Login to Your Account to Access Your Saved Graphs</h1>
    <br>
    <form class="login" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="login-container">
        <p><input type="text" class="login-container" name="username" placeholder="Username" [(ngModel)]="form.username" #username="ngModel"
               required /></p>
        <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Username is required</div>
        </div>
      </div>
      <div class="login-container">
        <p><input type="text" class="login-container" name="password" placeholder="Password" [(ngModel)]="form.password" #password="ngModel"
               required minlength="6" /></p>
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="login-container">
        <button class="btn btn-primary">Sign In</button>
        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
          Login failed: {{errorMessage}}
        </div>
      </div>
    </form>
    <p class="footer">Don't have an account?  <a routerLink="/Register">Sign Up</a>.</p>
  </div>
</ng-template>


