.title {
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

.title:focus {
  outline: none;
}

.title1 {
  font-size: 2em;
  font-family: Lemon;
}
.title2 {
  font-size: 2em;
  font-family: Robot;
  color: mediumseagreen;
  margin-left: -10px;
}

.header {
  height: 15px;
  background-color: mediumseagreen;
  margin-bottom: 10px;
}

.footer {
  height: 100px;
  background-color:darkgoldenrod;
}


