<div>
  <span class = "title" [routerLink]="['/Landing']">
    <span class="title1">
      Spaghetti
    </span>
    <span class="title2">
      Graphs
    </span>
  </span>
</div>
<app-navbar></app-navbar>
<router-outlet></router-outlet>
