<div class="container">

  <span class="options">
    <a (click)="pasteToggle()" [ngClass]="{'active': activePaste}">Paste Dataset</a><br><br>
    <a (click)="uploadToggle()" [ngClass]="{'active': activeUpload}">Upload Dataset</a><br><br>
    <a (click)="sampleToggle()" [ngClass]="{'active': activeSample}">Use Sample Dataset</a>
  </span>

  <div class="upload">
    <div *ngIf="pasteData === true">
      <textarea #pastedData placeholder="Paste Data Here" type="text" class="input" [ngModel]="csv" (ngModelChange)="grabPastedCSV(pastedData.value)"></textarea>
    </div>
    <div *ngIf="uploadData === true">
      <input class="button" type="file" accept="text/csv" (change)="handleFileInput($event.target.files)">
    </div>
    <div *ngIf="useSample === true">
      <div>
        <mat-grid-list cols="11" rowHeight="25px">
          <mat-grid-tile class="sample"
                         *ngFor="let tile of tiles; let i = index"
                         [attr.data-index]="i"
                         [colspan]="tile.cols"
                         [rowspan]="tile.rows"
                         [style.background]="tile.color"
                         [style.border-radius]="tile.radius"
                         [style.cursor]="tile.cursor"
                         (click)="grabSampleCSV(i)">
              {{tile.name}}
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
    <div *ngIf="loadedData === true">
      <textarea type="text" class="input">{{csv}}</textarea>
    </div>
  </div>
</div>
<app-bar-chart></app-bar-chart>
