.container {
  margin-top: 50px;
}

.options {
  cursor: pointer;
  width: 15%;
  margin-left: 50px;
}

.options a{
  text-decoration: none;
  color: black;
  text-align: center;
  font-family: Robot;
}

.options a:hover{
  border-bottom: mediumseagreen 5px solid;
}

.active {
  border-bottom: mediumseagreen 5px solid;
}

.upload {
  float: right;
  margin-right: 75px;
  border-radius: 5px;
  width: 80%;
  height: 300px;
  text-align: center;
}

.container {
  display: flex;
}

.input {
  height: 290px;
  width: 99%;
  background-color: transparent;
  text-decoration: none;
  border: 2px grey dashed;
}

.input:focus {
  outline: none;
}

.submit {
  margin-left: 12.5%;
  margin-top: 20px;
  background-color: mediumseagreen;
  cursor: pointer;
  width: 100px;
  height: 50px;
  color: black;
  border-radius: 5px;
  font-family: Robot;
  size: 1em;
}

.submit:focus {
  outline: none;
}

.submitPaste {
  margin-top: 20px;
  background-color: mediumseagreen;
  cursor: pointer;
  width: 100px;
  height: 50px;
  color: black;
  border-radius: 5px;
  font-family: Robot;
  size: 1em;
}

.submitPaste:focus {
  outline: none;
}

.bottom {
  text-align: center;
}

.button {
  cursor: pointer;
}

.sample {
  font-family: Robot;
}
