@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@font-face {
  font-family: Lemon;
  src: url(/assets/lemon_milk/LemonMilkbold.otf);
}
@font-face {
  font-family: Robot;
  src: url(/assets/roboto/Roboto-Light.ttf);
}

