<div *ngIf="isSignedUp; else signupForm">
  Your registration is successful. Please login!
</div>

<ng-template #signupForm>
  <div class="row col-sm-6 login-desc">
    <h2 class="login-header">To save and store your charts for future use and editing, first create a free account and login before working on your charts.</h2>
  </div>
  <div class="row col-sm-6 login-main" style="max-width:350px;">
    <h1 class="sub-login-header">Create an Account</h1>
    <form class="login" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="login-container">
        <p><input type="text" class="login-container" name="name" placeholder="Name" [(ngModel)]="form.name" #name="ngModel" required /></p>
        <div *ngIf="f.submitted && name.invalid">
          <div *ngIf="name.errors.required">Name is required</div>
        </div>
      </div>
      <div class="login-container">
        <p><input type="text" class="login-container" name="username" placeholder="Username" [(ngModel)]="form.username" #username="ngModel"
               required /></p>
        <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Username is required</div>
        </div>
      </div>
      <div class="login-container">
        <p><input type="text" class="login-container" name="email" placeholder="Email" [(ngModel)]="form.email" #email="ngModel" required email /></p>
        <div *ngIf="f.submitted && email.invalid">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">Email must be a valid email address</div>
        </div>
      </div>
      <div class="login-container">
        <p><input type="text" class="login-container" name="password" placeholder="Password" [(ngModel)]="form.password" #password="ngModel"
               required minlength="6" /></p>
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="login-container">
        <button class="btn btn-primary">Register</button>
        <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
          Signup failed!<br/>{{errorMessage}}
        </div>
      </div>
    </form>
  </div>
</ng-template>
