
.login-main {
  margin: 75px auto auto auto;
}

.login-desc {
  margin-left: 450px;
}

.login-header {
  width: 808px;
  height: 65px;
  font-family: HelveticaNeue;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  text-align: center;
  color: #000000;
}

.sub-login-header {
  font-family: HelveticaNeue;
  font-weight: lighter;
  text-align: center;
}

.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

.login p {
  margin-top: 0;
  margin-bottom: 0;
}

.login-container {
  padding: 12px;
  margin: auto;
}

.registerUser {
  background: #ebebeb;
  margin-top: 25px;
  padding: 12px;
  text-align: center;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
  background: #ebebeb;
}

.login input[type="username"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

.login input[type="username"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(96, 176, 119);
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  width: 376px;
  height: 51px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.btn:hover {
  background: rgb(54, 176, 81);
}

.btn:focus {
  border-color: #05a;
}
